@import "/home/waltz/.cache/wal/colors.scss";
*{
  all: unset;
  font-family: Noto Sans;  
}

// Music player
.music_info {
  background-color: #111212; //#27292b;
  color: $color7;
  border-radius: 16px;
  font-size: 12px;
  padding: 5px 10px 10px 10px;
}

.album_cover {  
  background-color: #111212;
  border-radius: 16px;
  padding: 48px 10px 32px 10px;
}

.media_control_buttons, {
  background-color: #111212;
  color: $color10;
  border-radius: 16px;
  font-size: 20px;
  padding: 0px 0px 5px 0px;
}

.track_pos trough {
  padding: 0px 0px 0px 10px;
}
.track_pos highlight {
  all: unset;
  background-color: $color12;
  padding: 10px 0px 0px 10px;
  border-radius: 16px;
}


// Top bar
.bar_widget {
  font-size: 16px;
}

.workspaces, .clock, .player, .thermal, .battery {
  background-color: $color12;
  border-radius: 16px;
  padding: 5px 5px 5px 5px;
}

.clock {
  padding: 0px 0px 0px 5px;
}


// Wallpaper picker
.wallpaper_picker_widget, .wallpaper_picker {
  background-color: $color12;
  font-size: 10px;
}
